=if( countifs(Ofertas!$A:$A; C2; Ofertas!$B:$B; "Concluído") > 0 ; "09 - Concluído" ;
if( countifs(Ofertas!$A:$A; C2; Ofertas!$B:$B; "Recebido") > 0 ; "01 - Recebido" ;
if( countifs(Ofertas!$A:$A; C2; Ofertas!$B:$B; "Comprado") > 0 ; "07 - Comprado" ;
if( countifs(Ofertas!$A:$A; C2; Ofertas!$B:$B; "Escolhido") > 0 ; "02 - Escolhido" ;
if( D2 = "Pesquisar" ; "06 - Pesquisar" ;
if( D2 = "Pausado" ; "08 - Pausado" ;
if( D2 = "Cancelado" ; "10 - Cancelado" ;
if( D2 = "Comprar logo" ; "05 - Selecionado" ;
if( D2 = "Comprar agora" ;
if( E2 >= 2 ; "03 - Orçado" ; "04 - Orçar" ) ; "11 - Indefinido" ) ) ) ) ) ) ) ) )
